/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global
{
	color: #FFFFFF;
	fontFamily:Microsoft YaHei UI Light;
	fontSize:12;
	backgroundAlpha:1;
	titleColorFrom:#FBFBFA;
	titleColorTo:#E1DFDA;
	contentBackgroundAlpha:1;
}

mx|ToolTip
{
	fontSize:12;
	backgroundAlpha:1;
	backgroundColor:#304A6D;
	color:#FFFFFF;
	borderColor:#304A6D;
	borderVisible:true;
}

s|BorderContainer
{
	backgroundColor:#304A6D;
	backgroundAlpha:0.8;
	borderVisible:false
}

.menuStyle
{
	color:#FFFFFF;
	fontFamily:Microsoft YaHei UI Light;
	fontSize:12;
	borderColor:#436DD6;
	dropShadowVisible:true;
	iconPlacement:top;
	skinClass:ClassReference("sm.wegis.szy.skins.MenuItemSkinEx")
}

.toolStyle
{
	color:#FFFFFF;
	fontFamily:Microsoft YaHei UI Light;
	fontSize:12;
	borderColor:#436DD6;
	dropShadowVisible:true;
	iconPlacement:top;
    skinClass:ClassReference("sm.wegis.szy.skins.ToolItemSkinEx")
}


