/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global
{
	color: #000000;
	fontFamily:宋体;
	fontSize:12;
	backgroundAlpha:1;
	titleColorFrom:#FBFBFA;
	titleColorTo:#E1DFDA;
	contentBackgroundAlpha:1;
}

mx|ToolTip
{
	fontSize:12;
	backgroundAlpha:1;
	backgroundColor:#3385FF;
	color:#FFFFFF;
	borderColor:#B5B9C0;
	borderVisible:true;
}

s|BorderContainer
{
	backgroundColor:#FFFFFF;
	backgroundAlpha:1;
	borderColor:#B5B9C0;
	borderVisible:false
}

s|RadioButton
{
	skinClass:ClassReference("sm.wegis.szy.skins.radioButton.RadioButtonSkinEx");
}

.menuStyle
{
	color:#000000;
	fontSize:12;
	borderColor:#436DD6;
	dropShadowVisible:true;
	iconPlacement:top;
	skinClass:ClassReference("sm.wegis.szy.skins.MenuItemSkinEx")
}

.toolStyle
{
	color:#000000;
	fontSize:12;
	borderColor:#436DD6;
	dropShadowVisible:true;
	iconPlacement:top;
    skinClass:ClassReference("sm.wegis.szy.skins.ToolItemSkinEx")
}

.verctorCopyRightStyle
{
	color:#000000;
	fontSize:12;
	verticalAlign:middle;
	horizontalAlign:left;
}

.imageCopyRightStyle
{
	color:#FFFFFF;
	fontSize:12;
	verticalAlign:middle;
	horizontalAlign:left;
}

/**子系统标题等相关信息样式*/
.SubSystemTitleStyle
{
	color:#FFFF00;
	fontSize:14;
	verticalAlign:"middle";
	fontWeight:bold
}

.LoginTitleStyle
{
	fontSize:24;
	textAlign:left;
	verticalAlign:middle;
	fontWeight:bold
}

.LoginLabelStyle
{
	fontSize:18;
	textAlign:left;
	verticalAlign:middle;
	fontWeight:bold
}

.UserIdStyle
{
	skinClass:ClassReference("sm.wegis.szy.skins.UserTextSkin");
}

.PasswordStyle
{
	skinClass:ClassReference("sm.wegis.szy.skins.PasswordTextSkin");
}

.SubmitRegisterInfo
{
	color:#F80505;
	verticalAlign:middle;
	fontSize:14
}

.LoginInfoStyle
{
	verticalAlign:middle;
	fontSize:13
}

.SubmitRegisterStyle
{
	fontFamily:宋体;
	skinClass:ClassReference("sm.wegis.szy.skins.SubmitRegisterSkin");
	fontSize:16;
	fontWeight:normal;
	color:#ffffff
}

.CloseLoginButtonStyle
{
	skinClass:ClassReference("sm.wegis.szy.skins.CloseLoginButtonSkin")
}

.SystemSelectorStyle
{
	textAlign:left;
	fontFamily:宋体;
	skinClass:ClassReference("sm.wegis.szy.skins.DropDownListSkinEx")
}

.ScrollPanelItemStyle
{
	skinClass:ClassReference("sm.wegis.szy.skins.ButtonItemSkinEx");
}

s|Label 
{
	verticalAlign:middle;
}

s|Panel
{
	skinClass:ClassReference("sm.wegis.szy.skins.PanelSkinEx");
}

s|DataGrid
{
	skinClass:ClassReference("sm.wegis.szy.skins.FlatDataGridSkin");
/*	alternatingRowColors:#FFFFFF,#E8EFF6;*/
	rollOverColor:#3385FF;
}

mx|VScrollBar
{
	downArrowDownSkin:ClassReference("sm.wegis.szy.skins.scroller.VerticalScrollbarSkinDownButtonSkin");
	downArrowOverSkin:ClassReference("sm.wegis.szy.skins.scroller.VerticalScrollbarSkinDownButtonSkin");
	downArrowUpSkin:ClassReference("sm.wegis.szy.skins.scroller.VerticalScrollbarSkinDownButtonSkin");
	downArrowSkin:ClassReference("sm.wegis.szy.skins.scroller.VerticalScrollbarSkinDownButtonSkin");
	thumbDownSkin:ClassReference("sm.wegis.szy.skins.scroller.VerticalScrollbarSkinThumbDownSkin");
	thumbSkin:ClassReference("sm.wegis.szy.skins.scroller.VerticalScrollbarSkinThumbSkin");
	thumbOverSkin:ClassReference("sm.wegis.szy.skins.scroller.VerticalScrollbarSkinThumbOverSkin");
	thumbUpSkin:ClassReference("sm.wegis.szy.skins.scroller.VerticalScrollbarSkinThumbSkin");
	trackSkin:ClassReference("sm.wegis.szy.skins.scroller.VerticalScrollbarSkinTrackSkin");
	upArrowSkin:ClassReference("sm.wegis.szy.skins.scroller.VerticalScrollbarSkinUpButtonSkin");
	upArrowDownSkin:ClassReference("sm.wegis.szy.skins.scroller.VerticalScrollbarSkinUpButtonSkin");
	upArrowOverSkin:ClassReference("sm.wegis.szy.skins.scroller.VerticalScrollbarSkinUpButtonSkin");
	upArrowUpSkin:ClassReference("sm.wegis.szy.skins.scroller.VerticalScrollbarSkinUpButtonSkin");
}

s|Scroller
{
	skinClass:ClassReference("sm.wegis.szy.skins.scroller.Scrollbar");
}

mx|AccordionHeader
{
	color:#000000;
	fontSize:12;
	fontWeight:normal;
	fillColors:#ffffff, #ffffff;
	selectedColors:#3385FF, #3385FF;
	fillAlphas:1,1;
	textRollOverColor:#FF0000;
	paddingLeft:5;
	borderColor:#3385FF;
	cornerRadius:0;
	skin:ClassReference("sm.wegis.szy.skins.accordion.AccordionHeaderSkinEx");
}

/**服务管理模块左侧菜单栏样�*/
mx|Accordion
{
	borderColor:#c7c7c7;
	borderVisible:false;
	openDuration:200;
	verticalGap:1;
	headerHeight: 25;
}

mx|Alert
{
	modal-transparency:0.5;
	modal-transparency-color:#C0C0C0;
	modal-transparency-blur:3;
	drop-shadow-visible:true;
	border-color:#C0C0C0;
	title-style-name:title-style-name;
	header-height:28;
	title-background-skin:ClassReference("sm.wegis.szy.skins.titlewindow.TitleWindowTitleBackgroundSkin");
	headerColors:#42A2DB,#3B78BD;
	highlightAlphas:0.66,0;
	corner-radius:5
}

s|ButtonBar
{
	skinClass:ClassReference("sm.wegis.szy.skins.buttonbarskin.ButtonBarSkin");
}

/**水质评价条件样式*/
.ConditionTitle
{
	color:"#646464";
	fontStyle:normal;
	textAlign:left;
	textDecoration:none;
	verticalAlign:middle;
	fontWeight:normal
}

/**水质评价全选按钮样式*/
.AllSelected
{
	color:"#F80505";
}

.ConditionValue
{
	color:"#3D6DCC";
	fontStyle:normal;
	textAlign:left;
	textDecoration:none;
	verticalAlign:middle;
}

.infoStyle
{
	backgroundColor:#FFFFFF;
	borderColor:#333333;
	backgroundAlpha:0.9;
	shadowDistance:0;
	upperLeftRadius:0;
	upperRightRadius:0;
	lowerLeftRadius:0;
	lowerRightRadius:0;
	infoOffsetX:6;
	infoOffsetY:6;
}

.gridStyle
{
	borderColor: #D1D1D1;
	borderVisible:false;
	horizontalGap:-1;
	verticalGap:-1;
}

.gridItemStyle{
	borderColor: #D1D1D1;
	borderStyle: solid;
	horizontalAlign: center;
	verticalAlign: middle;
	paddingTop:-1;
	paddingBottom:-1;
}

.headGridItem
{
	horizontalAlign:center;
	fontWeight:bold;
}

.contentGridItem
{
	horizontalAlign:left;
}




