<?xml version="1.0" encoding="UTF-8"?>
<flex-config>
<includes append="true">
<symbol>com.supermap.web.core.Rectangle2D</symbol>
<symbol>com.supermap.web.core.Rectangle2D</symbol>
<symbol>com.supermap.wegis.common.components.mapCtrl.MapCtrl</symbol>
<symbol>com.supermap.wegis.common.core.ArrayEx</symbol>
<symbol>com.supermap.wegis.common.mappingEx.TiledTDTLayerEx</symbol>
<symbol>com.supermap.wegis.common.mappingEx.TiledWMTSLayerEx</symbol>
<symbol>mx.rpc.http.HTTPService</symbol>
<symbol>mx.rpc.soap.WebService</symbol>
<symbol>org.springextensions.actionscript.cairngorm.business.BusinessDelegateFactory</symbol>
<symbol>org.springextensions.actionscript.cairngorm.business.BusinessDelegateFactory</symbol>
<symbol>org.springextensions.actionscript.cairngorm.control.CairngormFrontController</symbol>
<symbol>org.springextensions.actionscript.cairngorm.control.CairngormFrontController</symbol>
<symbol>sm.wegis.szy.factories.ApplicationModelAwareCommandFactory</symbol>
<symbol>sm.wegis.szy.factories.ApplicationModelAwareCommandFactory</symbol>
<symbol>sm.wegis.szy.models.ApplicationModelLocator</symbol>
<symbol>sm.wegis.szy.utils.ApplicationViewAssembler</symbol>
<symbol>sm.wegis.szy.views.MainView</symbol>
<symbol>sm.wegis.szy.vo.BaseMapVO</symbol>
<symbol>sm.wegis.szy.vo.SystemVO</symbol>
<symbol>sm.wegis.szy.businesses.GetDelegate</symbol>
<symbol>sm.wegis.szy.businesses.GetDelegate</symbol>
<symbol>sm.wegis.szy.commands.BaseMapChangeCommand
					</symbol>
<symbol>sm.wegis.szy.commands.DataBindCreatedCommand
					</symbol>
<symbol>sm.wegis.szy.commands.GetFunctionCommand</symbol>
<symbol>sm.wegis.szy.commands.SystemInitCommand</symbol>
<symbol>sm.wegis.szy.commands.SystemSecurityCommand
					</symbol>
</includes>
</flex-config>
