<?xml version="1.0" encoding="UTF-8"?>
<flex-config>
<includes append="true">
<symbol>com.supermap.web.core.Rectangle2D</symbol>
<symbol>com.supermap.wegis.common.components.mapCtrl.MapCtrl</symbol>
<symbol>com.supermap.wegis.common.core.ArrayEx</symbol>
<symbol>com.supermap.wegis.common.mappingEx.TiledTDTLayerEx</symbol>
<symbol>com.supermap.wegis.common.mappingEx.TiledWMTSLayerEx</symbol>
<symbol>mx.rpc.http.HTTPService</symbol>
<symbol>mx.rpc.soap.WebService</symbol>
<symbol>org.springextensions.actionscript.cairngorm.business.BusinessDelegateFactory</symbol>
<symbol>org.springextensions.actionscript.cairngorm.business.BusinessDelegateFactory</symbol>
<symbol>org.springextensions.actionscript.cairngorm.control.CairngormFrontController</symbol>
<symbol>org.springextensions.actionscript.cairngorm.control.CairngormFrontController</symbol>
<symbol>sm.wegis.szy.factories.ApplicationModelAwareCommandFactory</symbol>
<symbol>sm.wegis.szy.factories.ApplicationModelAwareCommandFactory</symbol>
<symbol>sm.wegis.szy.models.ApplicationModelLocator</symbol>
<symbol>sm.wegis.szy.utils.ApplicationViewAssembler</symbol>
<symbol>sm.wegis.szy.views.MainView</symbol>
<symbol>sm.wegis.szy.vo.SystemVO</symbol>
<symbol>sm.wegis.szy.businesses.GetDelegate</symbol>
<symbol>sm.wegis.szy.businesses.GetDelegate</symbol>
<symbol>sm.wegis.szy.commands.BaseMapChangeCommand
					</symbol>
<symbol>sm.wegis.szy.commands.ClearSystemCommand
					</symbol>
<symbol>sm.wegis.szy.commands.DataBindCreatedCommand
					</symbol>
<symbol>sm.wegis.szy.commands.GetFunctionCommand</symbol>
<symbol>sm.wegis.szy.commands.GetPWKDetailCommand
					</symbol>
<symbol>sm.wegis.szy.commands.GetRiverWaterFounctionConditionCommand
					</symbol>
<symbol>sm.wegis.szy.commands.GetSystemParamCommand
					</symbol>
<symbol>sm.wegis.szy.commands.GetWaterFounctionItemValueCommand
					</symbol>
<symbol>sm.wegis.szy.commands.GetXZQConditionCommand
					</symbol>
<symbol>sm.wegis.szy.commands.LoginInCommand</symbol>
<symbol>sm.wegis.szy.commands.MapToolItemClickCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryBreakCalcResultCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryCountyInfoDataCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryCountyThemeDataCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryDefaultPointCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryDMRiverCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryMainTypesCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryModelListCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryModelResultCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryObjectDetailCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryPollutionPointCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryRiverCalcResultCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryRiverCapacityYearCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryRiverListCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryRiverMainPollutionCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryRiverPeriodCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryRiverPeriodDataCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryRiverYearCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QuerySaveThemeMapCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryStationEvalutionInfoCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryStationRealInfoCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryTypesAndDetailListCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryWaterEvaluationResultCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryWaterFunctionDestinationInfoCommand
					</symbol>
<symbol>sm.wegis.szy.commands.QueryWaterFunctionRegionCommand
					</symbol>
<symbol>sm.wegis.szy.commands.ShowObjectDetailCommand
					</symbol>
<symbol>sm.wegis.szy.commands.SystemInitCommand</symbol>
<symbol>sm.wegis.szy.commands.SystemSecurityCommand
					</symbol>
<symbol>sm.wegis.szy.commands.SystemSelectCommand</symbol>
<symbol>sm.wegis.szy.commands.WaterResourceLayerIdChangeCommand
					</symbol>
</includes>
</flex-config>
